<div class="w-100 d-flex flex-column justify-contet-center align-items-center">
    <img width="250" alt="Jonaki Logo"
        src="../assets/jonaki-welfare-trust.png" />
    <span class="font-weight-700 p-3 bg-primary text-white text-center mt-3 rounded">{{ title }}</span>
</div>
<div class="w-100 d-flex flex-column align-items-center">
    <div class="col-sm-4 col-8">
        <label class="font-weight-700 pt-2">USERNAME : </label>
        <input type="text" class="form-control" id="username" [(ngModel)] = "username" placeholder="Enter username here">
    </div>
    <div class="col-sm-4 col-8">
        <label class="font-weight-700 pt-2">PASSWORD : </label>
        <input type="password" class="form-control" id="password" [(ngModel)] = "password" placeholder="Enter password here">
    </div>
    <button class="btn btn-primary mt-3" (click)="login()">Login</button>
</div>
