<div>
    <img width="250" style="margin-top: 5%; margin-left: 43%;" alt="Jonaki Logo"
        src="../assets/jonaki-welfare-trust.png" />
</div>
<div class="content" role="main">
    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
        <span>{{ title }}</span>
    </div>
</div>
<div>
    <div style="margin-left: 40%; margin-bottom: 1%; margin-top: 1%;">
        <label style="padding: 2%; font-weight: 700;">USERNAME : </label>
        <input type="text" class="form-control" id="username" [(ngModel)] = "username" placeholder="Enter username here">
    </div>
    <div style="margin-left: 40%; margin-bottom: 1%; margin-top: 1%;">
        <label style="padding: 2%; font-weight: 700;">PASSWORD : </label>
        <input type="password" class="form-control" id="password" [(ngModel)] = "password" placeholder="Enter password here">
    </div>
    <button class="btn btn-primary" style="margin-left: 48%; cursor: pointer;" (click)="login()">Login</button>
</div>
