<div class="w-100 d-flex justify-content-between toolbar">
    <div class="col-sm-6 col-12 d-flex align-items-center">
      <img width="60" alt="Jonaki Logo" class="img-fluid"  src="../assets/jonaki-welfare-trust.png" />
      <span style="font-size: 1.6rem; color: black;">JONAKI WELFARE TRUST</span>
    </div>
    <div class="col-sm-6 col-12 d-sm-flex d-none justify-content-end align-items-center">
      <a href="https://www.facebook.com/101274242192704/" target="_blank">
        <img title="Facebook" width="40" class="img-fluid" alt="Facebook Logo" href src="../assets/facebook.png" /></a>
      <a href="https://www.instagram.com/jonakigreaterpurpose/" target="_blank">
        <img title="Instagram" width="40" class="img-fluid" alt="Instagram Logo" src="../assets/instagram.png" /></a>
      <a href="https://youtube.com/channel/UC92thLq3b9GFNe_bj1AThiQ/" target="_blank">
        <img title="Youtube" width="40" class="img-fluid" alt="Youtube Logo" src="../assets/youtube.png" /></a>
      <a href="https://www.jonakigreaterpurpose.org/" target="_blank">
        <img width="40" title="Website" class="img-fluid" alt="Website Logo" src="../assets/website.png" />
      </a>
    </div>
</div>
<div class="w-100 d-flex flex-column justify-contet-center align-items-center">
    <img width="250" alt="Jonaki Logo"
        src="../assets/jonaki-welfare-trust.png" />
    <span class="font-weight-700 p-3 bg-primary text-white text-center mt-3 rounded">{{ title }}</span>
</div>
<div class="w-100 d-flex flex-column align-items-center">
    <div class="col-sm-4 col-8">
        <label class="font-weight-700 pt-2">USERNAME : </label>
        <input type="text" class="form-control" id="username" [(ngModel)] = "username" placeholder="Enter username here">
    </div>
    <div class="col-sm-4 col-8">
        <label class="font-weight-700 pt-2">PASSWORD : </label>
        <input type="password" class="form-control" id="password" [(ngModel)] = "password" placeholder="Enter password here">
    </div>
    <button class="btn btn-primary mt-3" (click)="login()">Login</button>
</div>
