<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="60" alt="Jonaki Logo" src="../assets/jonaki-welfare-trust.png"
  />
  <span style="font-size: 1.6rem; color: black;">JONAKI WELFARE TRUST</span>
  <div class="spacer"></div>
  <a href = "https://www.facebook.com/101274242192704/" target="_blank"><img title="Facebook" width="40" alt="Facebook Logo" href src="../assets/facebook.png"/></a>
  <a href = "https://www.instagram.com/jonakigreaterpurpose/" target="_blank"><img title="Instagram" width="40" alt="Instagram Logo" src="../assets/instagram.png" /></a>
  <a href = "https://youtube.com/channel/UC92thLq3b9GFNe_bj1AThiQ/" target="_blank"><img title="Youtube" width="40" alt="Youtube Logo" src="../assets/youtube.png"/></a>
  <a href = "https://www.jonakigreaterpurpose.org/" target="_blank"><img width="40" title="Website" alt="Website Logo" src="../assets/website.png"/></a>
</div>

<router-outlet></router-outlet>
