<div style="margin-top: 5%;font-size: 180%; font-style: normal; font-weight: 700;margin-left: 46%; margin-bottom: 2%;">TRUST DETAILS</div>
<div>
        <label style="padding: 2%; font-weight: 700; margin-left: 5%;">Name of Trust : </label>
        <input type="text" class="form-control" id="trustName" style="width: 13rem;" [(ngModel)] = "trustName" disabled>
    
        <label style="padding: 2%; font-weight: 700; margin-left: 6%;">Registered Address : </label>
        <input type="text" class="form-control" style="width: 30rem;" id="address" [(ngModel)] = "address" disabled>
    
</div>
<div style="margin-top: 2%;">
    <label style="padding: 2%; font-weight: 700; margin-left: 5%;">Registration No : </label>
    <input type="text" class="form-control" id="regNo" style="width: 12rem;" [(ngModel)] = "regNo" disabled>

    <label style="padding: 2%; font-weight: 700; margin-left: 6%;">12A Registration No : </label>
    <input type="text" class="form-control" id="twelveAreg" style="width: 13rem;" [(ngModel)] = "twelveAreg" disabled>

    <label style="padding: 2%; font-weight: 700; margin-left: 3%;">80G Registration No : </label>
    <input type="text" class="form-control" id="eightyGreg" style="width: 13rem;" [(ngModel)] = "eightyGreg" disabled>

</div>
<div style="margin-top: 2%;">
    <label style="padding: 2%; font-weight: 700; margin-left: 5%;">Darpan ID : </label>
    <input type="text" class="form-control" id="darpan" style="width: 13rem;" [(ngModel)] = "darpan" disabled>

    <label style="padding: 2%; font-weight: 700; margin-left: 113px;">PAN Number : </label>
    <input type="text" class="form-control" id="pan" style="width: 13rem;" [(ngModel)] = "pan" disabled>

    <label style="padding: 2%; font-weight: 700; margin-left: 6%;">Contact Number : </label>
    <input type="text" class="form-control" id="contactNo" style="width: 13rem;" [(ngModel)] = "contactNo" disabled>

</div>

<div style="margin-top: 5%;font-size: 180%; font-style: normal; font-weight: 700;margin-left: 46%; margin-bottom: 2%;">DONOR DETAILS</div>
<div style="margin-top: 2%;">
    <label style="padding: 2%; font-weight: 700; margin-left: 5%;">Certificate Recipient : </label>
    <input type="text" class="form-control" id="cerRecp" style="width: 12rem;" [(ngModel)] = "cerRecp" disabled>

    <label style="padding: 2%; font-weight: 700; margin-left: 6%;">Donor Name : </label>
    <input type="text" class="form-control" id="donorName" style="width: 13rem;" [(ngModel)] = "donorName" placeholder="Enter Text Here">

    <label style="padding: 2%; font-weight: 700; margin-left: 3%;">Donor Email : </label>
    <input type="email" class="form-control" id="donorEmail" style="width: 13rem;" [(ngModel)] = "donorEmail" placeholder="Enter Text Here">
</div>
<div style="margin-top: 2%;">
    <label style="padding: 2%; font-weight: 700; margin-left: 5%;">PAN Details : </label>
    <input type="text" class="form-control" id="donorPan" style="width: 12rem;" [(ngModel)] = "donorPan" placeholder="Enter Text Here">

    <label style="padding: 2%; font-weight: 700; margin-left: 143px">Date of Issue: </label>
    <input type="date" class="form-control" id="date" style="width: 13rem;" [(ngModel)] = "date" placeholder="Enter Text Here">
</div>

<div style="margin-top: 5%;font-size: 180%; font-style: normal; font-weight: 700;margin-left: 46%; margin-bottom: 2%;">DONATION DETAILS</div>
<div style="margin-top: 2%;">
    <label style="padding: 2%; font-weight: 700; margin-left: 5%;">Receipt Number : </label>
    <input type="text" class="form-control" id="recpNo" style="width: 12rem;" [(ngModel)] = "recpNo" placeholder="Enter Text Here">

    <label style="padding: 2%; font-weight: 700; margin-left: 6%;">Mode of payment : </label>
    <input type="text" class="form-control" id="mode" style="width: 13rem;" [(ngModel)] = "mode" placeholder="Enter Text Here">

    <label style="padding: 2%; font-weight: 700; margin-left: 3%;">Transaction Id : </label>
    <input type="email" class="form-control" id="transactionId" style="width: 13rem;" [(ngModel)] = "transactionId" placeholder="Enter Text Here">
</div>
<div style="margin-top: 2%;">
    <label style="padding: 2%; font-weight: 700; margin-left: 5%;">Amount (Rs.) : </label>
    <input type="number" class="form-control" id="amount" style="width: 12rem;" [(ngModel)] = "amount" placeholder="Enter Text Here">

    <label style="padding: 2%; font-weight: 700; margin-left: 6%;">Date of Payment : </label>
    <input type="date" class="form-control" id="datePayment" style="width: 13rem;" [(ngModel)] = "datePayment" placeholder="Enter Text Here">
</div>