<div class="container px-2 pb-5">
    <div class="w-100 text-center font-weight-700 py-3 heading">TRUST DETAILS</div>
    <div class="row">
        <div class="d-flex flex-column col-sm-6 col-12 px-2">
            <label class="font-weight-700">Name of Trust : </label>
            <input type="text" class="form-control" id="trustName" [(ngModel)]="trustName" disabled>
        </div>

        <div class="d-flex flex-column col-sm-6 col-12 px-2">
            <label class="font-weight-700">Registered Address : </label>
            <input type="text" class="form-control" id="address" [(ngModel)]="address" disabled>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-4 col-12 d-flex flex-column px-2">
            <label class="font-weight-700">Registration No : </label>
            <input type="text" class="form-control" id="regNo" [(ngModel)]="regNo" disabled>
        </div>

        <div class="col-sm-4 col-12 d-flex flex-column px-2">
            <label class="font-weight-700">12A Registration No : </label>
            <input type="text" class="form-control" id="twelveAreg" [(ngModel)]="twelveAreg" disabled>
        </div>

        <div class="col-sm-4 col-12 d-flex flex-column px-2">
            <label class="font-weight-700">80G Registration No : </label>
            <input type="text" class="form-control" id="eightyGreg" [(ngModel)]="eightyGreg" disabled>
        </div>

    </div>
    <div class="row mt-2">
        <div class="col-sm-4 col-12 d-flex flex-column px-2">
            <label class="font-weight-700">Darpan ID : </label>
            <input type="text" class="form-control" id="darpan" [(ngModel)]="darpan" disabled>
        </div>

        <div class="col-sm-4 col-12 d-flex flex-column px-2">
            <label class="font-weight-700">PAN Number : </label>
            <input type="text" class="form-control" id="pan" [(ngModel)]="pan" disabled>
        </div>

        <div class="col-sm-4 col-12 d-flex flex-column px-2">
            <label class="font-weight-700">Contact Number : </label>
            <input type="text" class="form-control" id="contactNo" [(ngModel)]="contactNo" disabled>
        </div>

    </div>

    <div class="w-100 text-center font-weight-700 mt-5 heading">DONOR DETAILS</div>
    <div class="row mt-2">
        <div class="col-sm-4 col-12 d-flex flex-column px-2">
            <label class="font-weight-700">Certificate Recipient : </label>
            <input type="text" class="form-control" id="cerRecp" [(ngModel)]="cerRecp" disabled>
        </div>

        <div class="col-sm-4 col-12 d-flex flex-column px-2">
            <label class="font-weight-700">Donor Name : </label>
            <input type="text" class="form-control" id="donorName" [(ngModel)]="donorName"
                placeholder="Enter Text Here">
        </div>

        <div class="col-sm-4 col-12 d-flex flex-column px-2">
            <label class="font-weight-700">Donor Email : </label>
            <input type="email" class="form-control" id="donorEmail" [(ngModel)]="donorEmail"
                placeholder="Enter Text Here">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-4 col-12 d-flex flex-column px-2">
            <label class="font-weight-700">PAN Details : </label>
            <input type="text" class="form-control" id="donorPan" [(ngModel)]="donorPan" placeholder="Enter Text Here">
        </div>

        <div class="col-sm-4 col-12 d-flex flex-column px-2">
            <label class="font-weight-700">Date of Issue: </label>
            <input type="date" class="form-control" id="date" [(ngModel)]="date" placeholder="Enter Text Here">
        </div>
    </div>

    <div class="w-100 text-center font-weight-700 mt-5 heading">
        DONATION DETAILS</div>
    <div class="row mt-2">
        <div class="col-sm-4 col-12 d-flex flex-column px-2">
            <label class="font-weight-700">Receipt Number : </label>
            <input type="text" class="form-control" id="recpNo" [(ngModel)]="recpNo" placeholder="Enter Text Here">
        </div>

        <div class="col-sm-4 col-12 d-flex flex-column px-2">
            <label class="font-weight-700">Mode of payment : </label>
            <input type="text" class="form-control" id="mode" [(ngModel)]="mode" placeholder="Enter Text Here">
        </div>

        <div class="col-sm-4 col-12 d-flex flex-column px-2">
            <label class="font-weight-700">Transaction Id : </label>
            <input type="email" class="form-control" id="transactionId" [(ngModel)]="transactionId"
                placeholder="Enter Text Here">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-4 col-12 d-flex flex-column px-2">
            <label class="font-weight-700">Amount (Rs.) : </label>
            <input type="number" class="form-control" id="amount" [(ngModel)]="amount" placeholder="Enter Text Here">
        </div>

        <div class="col-sm-4 col-12 d-flex flex-column px-2">
            <label class="font-weight-700">Date of Payment : </label>
            <input type="date" class="form-control" id="datePayment" [(ngModel)]="datePayment"
                placeholder="Enter Text Here">
        </div>
    </div>
</div>